.modal_content_signup_form {
  margin: 193px auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  height: 458px;
  width: 430px;
  padding: 12px 28px 36px 28px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  color: black;
}
.modal__close_signup {
  position: absolute;
  border: none;
  background-image: url("/src/assets/modalClose.png");
  bottom: 470px;
  left: 420px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 425px) {
  .modal_content_signup_form {
    margin: 56px auto;
    border: solid 1px;
    border-radius: 15px 15px 0 0;
    border-color: #ffffff;
    background-color: #ffffff;
    height: 560px;
    max-width: 318px;
    padding: 0px 16px 0px 16px;
  }
  .modal__close_signup {
    bottom: 420px;
    left: 420px;
  }

  .second__button {
    width: 280px;
    top: 210px;
  }
}
