.page {
  display: flex;
  max-width: 1654px;
  color: #ffffff;
  margin: auto;
  padding: 0;
  height: 100%;
  background-image: url("src/assets/backgroundimage.png");
  background-size: cover;
  background-color: transparent;
  background-repeat: repeat;
  
}
.page__content {
  display: flex;
  max-width: 1654px;
  max-height: 1644px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 104px 0 104px;
}
