.page {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 950px;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  background-position: center;
  background-image: url("src/assets/backgroundimage.png");
  background-size: cover;
  background-repeat: repeat;
}
.page__overlay {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.page__content {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 0;
}
