.page {
  display: flex;
  max-width: 1654px;
  color: #ffffff;
  margin: auto;
  padding: 0;
  height: 974px;
  background-image: url("src/assets/backgroundimage.png");
  background-size:cover;
  background-color: transparent;
  background-repeat: repeat;
  
}
.page__content {
  display: flex;
  max-width: 1654px;
  height: 100%;
  width: 100%;
  
  margin: auto;
  padding: 0 104px 0 104px;
  
}
