.main {
  display: flex;
  position: relative;
  flex-direction: column;
 
}



.search__title {
  text-align: left;
  flex-wrap: wrap;
  margin: 160px 0px 0px 416px;
  font-size: 60px;
  font-weight: 400;
  width: 550px;
  font-family: roboto-slab, sans-serif;
}
.search__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 32px 0px 88px 416px;
  font-family: roboto, sans-serif;
  width: 600px;
}
.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 416px;
  max-width: 608px;
  width: 100%;
  height: 64px;
  border: 1px solid;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-color: #d1d6d2;
}
.search__label {
  width: 608px;
  font-family: roboto, sans-serif;
  font-weight: 400;
}
.search__input {
  flex: 1;
  padding: 0 20px;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: roboto, sans-serif;
  font-weight: 400;
}

.search__field {
  flex: 1;
  padding: 0 20px;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 16px;
}
.search__button {
  border-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  width: 168px;
  height: 64px;
  background-color: #2f71e5;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.results__section {
  margin-top: 80px;
  margin-left: 104px;
}
.search__results-title {
  font-size: 40px;
  font-family: roboto-slab, sans-serif;
  font-weight: 400;
  width: 300px;
}
.articles__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 16px 62px 16px;
  gap: 16px;

  margin-bottom: 0;
}
.show__more-button {
  display: flex;
  margin-top: 64px;
  margin-bottom: 80px;
  margin-left: 576px;
  padding: 20px 98px 20px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  border-radius: 80px;
  border: none;
  max-width: 288px;
  width: 100%;
}
.message__section {
  display: flex;
  margin-top: 86px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message__title {
  font-size: 26px;
  font-weight: 400px;
  margin-top: 31.5px;
  color: #bcbfb6;
  margin-bottom: 0;
}
.message__text {
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  height: 48px;
  color: #bcbfb6;
  text-align: center;
}
.error__message {
  display: flex;
  font-size: 18px;
  justify-content: center;
  color: #bcbfb6;
  margin-top: 70px;
  margin-bottom: 70px;
}
.button__alert {
  position: absolute;
  top: 24px;
  padding: 11px 20px;
  width: 142px;
  line-height: 18px;
  left: 145px;
  margin: 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 500px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .search__section {
    justify-content: center;
  }
  .search__title {
    margin-left: 163px;
  }
  .search__text {
    margin-left: 163px;
    max-width: 452px;
    width: 100%;
  }
  .search__container {
    margin-left: 163px;
    max-width: 452px;
    width: 100%;
  }

  .search__results-title {
    font-size: 30px;
  }

  .show__more-button {
    margin-left: 272px;
    align-items: center;
    justify-content: center;
  }
  .search__button {
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .show__more-button {
    margin: 16px 16px 24px 16px;
    width: 280px;
    background-color: white;
    height: 56px;
    padding: 0;
  }
  .search__title {
    margin: 86px 16px 16px 16px;
    font-size: 36px;
    width: 285px;
  }
  .search__text {
    width: 288px;
    font-size: 18px;
    margin: 0px 16px 16px 16px;
  }
  .search__container {
    visibility: hidden;
  }
  .search__section {
    padding-bottom: 160px;
  }
  .search__input {
    display: flex;
    position: absolute;
    left: 16px;
    right: 16px;
    padding: 0 0 0 16px;
    justify-content: flex-start;
    align-items: center;
    color: #d1d2d6;
    height: 56px;
    border: 1px solid;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: #d1d6d2;
    font-size: 18px;
    font-weight: 500;
    visibility: visible;
  }
  .search__button {
    display: flex;
    position: absolute;
    max-width: 270px;
    width: 100%;
    left: 16px;
    padding: 0;
    top: 400px;
    justify-content: center;
    align-items: center;
    color: #d1d2d6;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50px;
    overflow: hidden;
    background-color: #2f71e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    visibility: visible;
  }
  .results__section {
    margin-left: 0px;
    margin-top: 32px;
  }
  .search__results-title {
    font-size: 30px;
    width: 288px;
    padding-left: 16px;
    padding-top: 0px;
    margin-top: 0;
  }
  .articles__list {
    padding: 16px;
  }
}
