.saved__news {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}
.saved__news-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  padding: 0 104px;
}
.saved__news-title {
  font-size: 18px;
  opacity: 50%;
  margin: 28px 0 0 0;
  padding: 0;
  font-family: roboto, sans-serif;
  font-weight: 400;
}
.saved__articles {
  background-color: #f5f6f7;
  padding: 62px 104px;
}
.saved__articles-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.saved__news-text {
  font-size: 40px;
  max-width: 500px;
  height: 92px;
  margin: 28px 0 30px 0;
  font-family: roboto-slab, sans-serif;
  font-weight: 400;
}
.saved__news-keyword {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 56px;
  font-family: roboto, sans-serif;
}
.image__keyword {
  display: flex;
  position: absolute;
  max-width: 121px;
  height: 40px;
  background-color: white;
  margin-top: 24px;
  margin-left: 36px;
  align-items: center;
  border-radius: 10px;
  padding: 0 22px 0 22px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.saved__card-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  padding: 24px;
}
.delete__button {
  display: flex;
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-left: 330px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0;
  max-width: 40px;
  width: 100%;
  height: 40px;
  background-position: center;
  background-image: url("/src/assets/trash.png");
}
.saved__card-date {
  text-transform: uppercase;
  font-size: 18px;
  color: #b6bcbf;
  margin-bottom: 12px;
  height: 24px;
  font-family: roboto-slab, sans-serif;
  font-weight: 700;
}
.saved__card-title {
  font-size: 26px;
  font-weight: 400;
  height: 60px;
  line-height: 30px;
  margin-top: 0px;
  font-family: roboto-slab, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-break: 3;
}
.saved__card-description {
  font-size: 16px;
  height: 110px;
  line-height: 22px;
  flex-grow: 1;
  margin-top: -12px;
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow-wrap: normal;
  font-family: roboto, sans-serif;
  font-weight: 400;
  line-break: 4;
}
.saved__card-source {
  font-family: roboto-slab;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  font-weight: 700;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .saved__news-info {
    padding: 0 40px;
  }
  .saved__articles {
    padding: 32px 40px 32px 40px;
  }
  .saved__articles-list {
    gap: 8px;
  }
  .saved__news-text {
    font-size: 30px;
    margin-bottom: 0;
  }
  .saved__news-keyword {
    max-width: 260px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .saved__news-title {
    font-size: 14px;
    margin: 8px 0;
  }
  .saved__card-info {
    top: 130px;
    padding: 16px;
  }
  .saved__card-date {
    font-size: 16px;
  }
  .saved__card-title {
    height: 88px;
    line-break: 3;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .saved__card-description {
    font-size: 16px;
    line-break: 3;
    height: 88px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .image__keyword {
    max-width: 76px;
    height: 40px;
    font-size: 14px;
    padding: 0 12px 0 12px;
    margin-top: 8px;
    margin-left: 8px;
  }
  .delete__button {
    margin-top: 8px;
    margin-left: 170px;
  }
  .saved__card-source {
margin: 0;
font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .saved__news-info {
    padding-top: 8px;
    padding-left: 16px;
  }
  .saved__news-text {
    max-width: 288px;
    width: 100%;
    margin-top: 16px;
    font-size: 30px;
  }
  .saved__news-keyword {
    max-width: 285px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .saved__articles {
    padding: 32px 16px 32px 16px;
  }

  .saved__news-title {
    font-size: 12px;
  }
  .saved__card-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
  }

  .saved__card-title {
    overflow: hidden;
    line-height: 24px;
    font-size: 22px;
    height: 48px;
    width: 250px;
    padding-top: 10px;
  }
  .saved__card-description {
    font-size: 16px;
    overflow: hidden;
    height: 66px;
    width: 250px;
    line-height: 22px;
    padding-top: 14px;
    margin-bottom: 20px;
  }

  .delete__button {
    display: flex;
    margin-top: 16px;
    margin-left: 232px;
  }
  .image__keyword {
    margin-top: 16px;
    height: 40px;
    margin-left: 16px;
    line-height: 24px;
  }
}
