.saved__news-header {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  padding: 0;
  height: 80px;
  border-bottom: solid 1px;
  border-color: rgba(196, 196, 196, 0.2);
  background-color: white;
}
.saved__header-logo {
  font-size: 20px;
  padding: 32px 0px 26px 104px;
  font-weight: 700;
  color: black;
  font-family: roboto-slab, sans-serif;
}
.saved__header-nav {
  display: flex;
  flex-direction: row;
  font-family: roboto, sans-serif;
  align-items: center;
  color: black;
  gap: 42px;
  margin: 0;
  padding-right: 104px;
}
.saved__home-link {
  outline: none;
  width: 49px;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: roboto, sans-serif;
}
.saved__user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
.saved__artical {
  background-color: transparent;
  margin-left: 76px;
  margin-right: 64px;
  border-bottom: 1px solid;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 26px 12px 28px 12px;
  border-color: black;
  outline: none;
  text-decoration: none;
  text-align: center;
  width: 178px;
}
.saved__user-logout {
  display: flex;
  padding-left: 19px;
  padding-right: 16px;
  height: 48px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: solid 1px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: right;
  gap: 6px;
}
.saved__username {
  font-size: 18px;
  font-weight: 500;
}
.saved__logout {
  width: 17.41px;
  height: 16px;
}
.saved__menu-button {
  display: none;
}

@media screen and (min-width: 426px) {
  .saved__header-logo {
    padding: 32px 0px 26px 40px;
  }
  .saved__header-nav {
    padding-right: 40px;
  }
  .saved__artical {
    width: 120px;
    margin-left: 10px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 425px) {
  .saved__artical {
    display: none;
  }
  .saved__home-link {
    display: none;
  }
  .saved__user-logout {
    display: none;
  }
  .saved__header-logo {
    font-size: 16px;
    width: 117px;
    padding: 16px 0 16px 16px;
  }
  .saved__menu-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("/src/assets/savedHeaderMenu.png");
  }
 
  .menu__close-button {
    position: relative;
    z-index: 1000;
    margin: 0px 0px 0 255px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("/src/assets/menuClose.png");
  }
  .saved__text {
    position: relative;
    width: 160px;
    line-height: 50px;
    margin: 20px 16px;
    z-index: 1000;
    color: white;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
  }
  .logout {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 10 px;
    padding-left: 19px;
    padding-right: 16px;
    flex-direction: row;
    outline: none;
    border: solid 1px;
    border-radius: 25px;
    color: white;
    background-color: transparent;
    border-color: white;
    background-repeat: no-repeat;
    background-position: right;
    gap: 6px;
  }
  .menu__home-link {
    position: relative;
    width: 40px;
    line-height: 50px;
    margin: 20px 16px;
    z-index: 1000;
    color: white;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
  }
  .saved__articles {
    padding-left: 16px;
  }
}
