.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  background-color: white;
  height: 80px;
}

.footer__year {
  padding-left: 104px;
  width: 453px;
  font-size: 16px;
  color: #b6bcbf;
  font-weight: 400;
  font-family: roboto, sans-serif;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  font-family: roboto, sans-serif;
  color: #1a1b22;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin-left: 524px;
}
.home {
  color: #1a1b22;
  text-decoration: none;
}
.tripleten {
  color: #1a1b22;
  text-decoration: none;
}
.footer__link {
  color: #1a1b22;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  
  .footer__year {
    padding-left: 40px;
  }
  .footer__nav {
    margin-left: 113px;
  }
}
@media screen and (max-width: 425px) {
.footer {
  flex-direction: column;
  margin-top: 100px;
  height: 180px;;
}
.footer__year {
  font-size: 12px;
 margin-top: 150px;
}
.footer__nav {
  flex-direction: column;
  margin-left: 16px;
  margin-top: 0px;
}
}