.card {
  display: flex;
  position: relative;
  flex-direction: column;
  color: black;
  list-style: none;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  max-width: 400px;
  height: 576px;
  padding: 0;
  border: none;
  box-shadow: 0 2px 6px rgba(8, 29, 45, 0.4);
}
.card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
}
.button__container {
  display: flex;
  position: relative;
  cursor: pointer;
}
.button__container:hover {
  cursor: pointer;
}
.archive__button {
  display: flex;
  position: absolute;
  background-repeat: no-repeat;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0;
  max-width: 40px;
  width: 100%;
  height: 40px;
  background-position: center;

  background-image: url("/src/assets/archiveButton.png");
}
.archive__button:hover {
  opacity: 1;
}

.button__alert {
  position: absolute;
  top: 24px;
  padding: 11px 20px;
  width: 142px;
  line-height: 18px;
  left: 145px;
  margin: 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 500px;
  cursor: pointer;
}

.archive__button_active {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  top: 24px;
  margin-left: 330px;
  background-image: url("/src/assets/save-button-active.png");
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.card__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  padding: 24px;
}
.card__date {
  text-transform: uppercase;
  font-size: 18px;
  color: #b6bcbf;
  margin-bottom: 12px;
  height: 24px;
  font-family: roboto-slab, sans-serif;
  font-weight: 700;
  margin-top: 20;
}
.card__title {
  font-size: 26px;
  font-weight: 400;
  height: 60px;
  line-height: 30px;
  margin-top: 0px;
  font-family: roboto-slab, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-break: 3;
  margin-bottom: 16px;
}
.card__description {
  font-size: 16px;
  height: 110px;
  line-height: 22px;
  flex-grow: 1;
  margin-bottom: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-wrap: normal;
  font-family: roboto, sans-serif;
  font-weight: 400;
  line-break: 4;
}
.card__source {
  font-family: roboto-slab;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .card {
    max-width: 224px;
    width: 100%;
    height: 420px;
  }
  .card__image {
    max-width: 224px;
    width: 100%;
    height: 150px;
  }
  

  .saved__news-text {
    font-size: 30px;
    margin-bottom: 0;
  }
  

  .saved__news-title {
    font-size: 14px;
    margin: 8px 0;
  }
  .card__info {
    top: 130px;
    padding: 24px;
  }
  .card__date {
    font-size: 16px;
    margin-bottom: 0;
  }
  .card__title {
    height: 88px;
    line-break: 3;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .card__description {
    font-size: 16px;
    line-break: 3;
    height: 88px;
    margin-top: 0;
    margin-bottom: 12px;
  }
 
  .archive__button {
    margin-top: 0px;
    margin-left: 170px;
  }
  .card__source {
    margin: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    max-width: 288px;
    width: 100%;
    height: 420px;
  }
  .card__image {
    max-width: 288px;
    width: 100%;
    height: 150px;
  }
 
 
  

  .card__title {
    font-size: 14px;
    margin: 8px 0;
  }
  .card__info {
    top: 130px;
    padding: 16px;
  }
  .card__date {
    font-size: 16px;
    margin-bottom: 0;
  }
  .card__title {
    height: 88px;
    line-break: 3;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .card__description {
    font-size: 16px;
    line-break: 3;
    height: 88px;
    margin-top: 0;
    margin-bottom: 12px;
  }
 
  .archive__button {
    margin-top: 0px;
    margin-left: 170px;
  }
  .card__source {
    margin: 0;
    font-size: 16px;
  }
}



  

 

