@import "./vendor/fonts.css";

/**
   * Remove the margin in all browsers.
   */

body {
   
  margin: 0;
  padding: 0;
}
main {
   width: 100%;
   max-width: 1440px;
   box-sizing: border-box;
}
/**
   * Render the `main` element consistently in IE.
   */


/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}


