@import "./vendor/fonts.css";

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
  padding: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}


